extends layout

block vars
  = alias

block append content
  div(class='jumbotron')
    .row
      .col-xs-12
        iframe.col-xs-12#aura-iframe(src='' frameborder="0")
        script.
          document.getElementById('aura-iframe').src='//'+window.location.hostname+'/pt/aura/';
          
block append styles
      
block append scripts