extends layout

block title 
  span#alias= alias
           
block append content
  .wrapper-md
    include home/battmon_graphs.pug

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]

block prepend styles

block prepend scripts
  script(src='/js/canvasjs.min.js')
  script(src='/js/home.js')
  script(src='/js/battmon.js')