extends layout

block append content
  div(class='jumbotron')
    .row
      .col-xs-12
        iframe.col-xs-12#camera-external-iframe(src='' frameborder="0")
        script.
          document.getElementById('camera-external-iframe').src='//'+window.location.hostname+':8002/';

block append styles
      
block append scripts