extends layout

block append content
  div(class='jumbotron')
    .col-xs-12
      iframe.col-xs-12(scrolling='no' src='http://localhost:8000/' frameborder="0" style='max-width: 100%;' height='100%')
      
block append styles
      
block append scripts