extends layout

block vars
  span.right
    span#name
      p.inline Name: 
        b.r-green #{name}
    span#mode
      p.inline  Mode: 
        b.r-green #{mode}

block append content
  div(class='jumbotron')
    .row
      .col-xs-12
        iframe.col-xs-12#camera-internal-iframe(src='' frameborder="0")
        script.
          document.getElementById('camera-internal-iframe').src='//'+window.location.hostname+':8000/';
      
block append styles
      
block append scripts