extends layout

block vars
  = alias
        
block append content
  .col-xs-12.col-md-6
    h1 Feedback
    p Send feedback with reguards to MineARC Systems Intelligence
    a(href='mailto:systemintelligence@minearc.com') systemintelligence@minearc.com
  .col-xs-12.col-md-6
    .contact_left
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.669230527381!2d115.95145400000001!3d-31.996981000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bea199b0e2bd%3A0x43eae4933bb29b93!2sMinearc+Systems+PTY+Ltd.!5e0!3m2!1sen!2sau!4v1442193159083', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
      .map_addr
        h3 HEAD OFFICE MineARC AUSTRALIA
        p 274 Welshpool Road, Perth, Australia 6106
        p ph: +61 (8) 9333 4966
        p fax: +61 (8) 9333 4900
        p
          | email: 
          a(href='mailto:info@minearc.com.au') info@minearc.com.au
        p.social_icons1
          a(href='https://twitter.com/MineARC_Systems', target='_blank')
            img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
          a(href='http://www.linkedin.com/company/minearc-systems')
            img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
          a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
            img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
          a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
            img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
          a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
            img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
        p.social_icons1
    // Australia

  //- .clearfix
    .enclose
      .ref_products_cont
        #horizontalTab(style='display: block; width: 100%; margin: 0px;')
          // Horizontal Tab
          ul.resp-tabs-list.clearfix
            li.resp-tab-item(aria-controls='tab_item-0', role='tab') Australia
            li.resp-tab-item(aria-controls='tab_item-1', role='tab') North America
            li.resp-tab-item(aria-controls='tab_item-2', role='tab') South America
            li.resp-tab-item(aria-controls='tab_item-3', role='tab') Africa
            li.resp-tab-item.resp-tab-active(aria-controls='tab_item-4', role='tab') China
            li.resp-tab-item(aria-controls='tab_item-5', role='tab') Europe
          .resp-tabs-container
            // responsive tabs container
            h2.resp-accordion(role='tab', aria-controls='tab_item-0')
              span.resp-arrow
              | Australia
            .resp-tab-content(aria-labelledby='tab_item-0')
              // Australia
              .contact_left
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.669230527381!2d115.95145400000001!3d-31.996981000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bea199b0e2bd%3A0x43eae4933bb29b93!2sMinearc+Systems+PTY+Ltd.!5e0!3m2!1sen!2sau!4v1442193159083', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 HEAD OFFICE MineARC AUSTRALIA
                  p 274 Welshpool Road, Perth, Australia 6106
                  p ph: +61 (8) 9333 4966
                  p fax: +61 (8) 9333 4900
                  p
                    | email: 
                    a(href='mailto:info@minearc.com.au') info@minearc.com.au
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                  p.social_icons1
            // Australia
            h2.resp-accordion(role='tab', aria-controls='tab_item-1')
              span.resp-arrow
              | North America
            .resp-tab-content(aria-labelledby='tab_item-1')
              // North America
              .contact_left
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3357.8340005524083!2d-96.9058259!3d32.690459499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9016998fb857%3A0x2cd0d9a0bf766121!2s4850+W+Ledbetter+Dr%2C+Dallas%2C+TX+75236%2C+USA!5e0!3m2!1sen!2sau!4v1440058240597', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 MineARC NORTH AMERICA
                  p 4850 W. Ledbetter Drive Dallas Texas 75236
                  p ph: +1 (214) 337 5100
                  p fax: +1 (214) 337 5103
                  p
                    | email: 
                    a(href='mailto:info@minearc.com') info@minearc.com
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                    a(href='#')
                      br
                  p.social_icons1
            // North America
            h2.resp-accordion(role='tab', aria-controls='tab_item-2')
              span.resp-arrow
              | South America
            .resp-tab-content(aria-labelledby='tab_item-2')
              // South America
              .contact_left
                iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3331.8512492094897!2d-70.6349924!3d-33.3749493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPiso+14+Comuna+de+Huechuraba+Santiago!5e0!3m2!1sen!2sau!4v1440118146463', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 MineARC SOUTH AMERICA
                  p
                    | Avda. El Salto N°4001 oficina 142 A , Piso 14 Comuna de Huechuraba Santiago, Chile
                  p ph: +56 2 29644290 / (Peru) +51-947992239
                  p fax:  +56 2 29644291
                  p
                    | email: 
                    a(href='mailto:info@minearc.com') info@minearc.com
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                    a(href='#')
                      br
                    a(href='#')
                      br
                  p.social_icons1
            // South America
            h2.resp-accordion(role='tab', aria-controls='tab_item-3')
              span.resp-arrow
              | Africa
            .resp-tab-content(aria-labelledby='tab_item-3')
              // Africa
              .contact_left
                iframe(src='https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3584.988936908787!2d27.956514000000002!3d-26.033917999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s205+Flaming+Rock+Avenue%2C+Northlands+Business+Park!5e0!3m2!1sen!2sau!4v1440118043523', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 MineARC AFRICA
                  p
                    | Stand 205, Flaming Rock Rd, Northlands Business Park, 29 Newmarket Street, North Riding, Johannesburg, South Africa
                  p ph: +27 (0) 11 796-5162
                  p fax: +27 (0) 86 504-1750
                  p
                    | email: 
                    a(href='mailto:info@minearc.com.au') info@minearc.com.au
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                    a(href='#')
                      br
                    a(href='#')
                      br
                  p.social_icons1
            // Africa
            h2.resp-accordion.resp-tab-active(role='tab', aria-controls='tab_item-4')
              span.resp-arrow
              | China
            .resp-tab-content.resp-tab-content-active(aria-labelledby='tab_item-4', style='display:block')
              // China
              .contact_left
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.4945030045037!2d116.4546269160295!3d39.90794859434729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f1ad1b02827dcf%3A0x8eecbe4e8a0b0532!2sCentral+International+Trade+Center!5e0!3m2!1sen!2sau!4v1471589424991', width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 MineARC CHINA
                  p Room 1217, Tower D, ULO Park, Wangjing, Chaoyang District, Beijing 100102, China
                  p ph: +86 (10) 8472 6488
                  p fax: +86 (10) 8478 5769
                  p
                    | email: 
                    a(href='mailto:info@minearc.com.au') info@minearc.com.au
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                    a(href='#')
                      br
                    a(href='#')
                      br
                    a(href='#')
                      br
                  p.social_icons1
            // China
            h2.resp-accordion(role='tab', aria-controls='tab_item-5')
              span.resp-arrow
              | Europe
            .resp-tab-content(aria-labelledby='tab_item-5')
              // Europe
              .contact_left
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.257391068933!2d-0.1364896!3d51.508493699999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d6957c5bc7%3A0xd2bcb7eecd2a5d51!2sJermyn+St%2C+St.+James's%2C+London+SW1Y+6JE%2C+UK!5e0!3m2!1sen!2sau!4v1440058769966", width='100%', height='330', frameborder='0', style='border:0', allowfullscreen='')
                .map_addr
                  h1 MineARC EUROPE
                  p
                    | We are currently in the process of re-locating!
                    br
                    |  For all enquiries, please contact 
                    a(href='mailto:info@minearc.com.au') info@minearc.com.au
                    | 									and someone will be in touch as soon as possible.
                  p.social_icons1
                    a(href='https://twitter.com/MineARC_Systems', target='_blank')
                      img.alignnone.wp-image-1304(src='http://www.minearc.com/wp-content/uploads/2014/11/Twitter_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.linkedin.com/company/minearc-systems')
                      img.alignnone.wp-image-1306(src='http://www.minearc.com/wp-content/uploads/2014/11/LinkedIn_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png')
                      img.alignnone.wp-image-1308(src='http://www.minearc.com/wp-content/uploads/2014/11/GooglePlus_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png')
                      img.alignnone.wp-image-1305(src='http://www.minearc.com/wp-content/uploads/2014/11/YouTube_50pix.png', alt='', width='35', height='35')
                    a(href='#')  
                    a(href='https://www.flickr.com/photos/131386122@N03', target='_blank')
                      img.alignnone.wp-image-1307(src='http://www.minearc.com/wp-content/uploads/2014/11/Flickr_50pix.png', alt='', width='35', height='35')
                    a(href='#')
                      br
                    a(href='#')
                      br
                    a(href='#')
                      br
                  p.social_icons1
            // Europe
          // responsive tabs container
        // Horizontal Tab
