extends layout

block title
  | CONTACT

block append content
  .wrapper-md
    .row
      .col-sm-6
        .panel.panel-default
          //- .panel-heading
          //-   | VOLTAGE
          .panel-body
            form(role='form', action='mailto:info@minearc.com.au', method='post')
              .form-group
                label Subject
                input.form-control(name='Subject', type='text', placeholder='Subject')
              .form-control(ui-jq='wysiwyg', style='overflow:scroll;height:200px;max-height:200px', contenteditable='true')
              button.btn.btn-sm.btn-primary(type='submit', value='Send', style='margin-top: 10px') Submit


      .col-sm-6
        .panel.panel-default
          //- .panel-heading
          //-   | CURRENT
          .panel-body
            iframe(style='width: 100%; min-height: 333px', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.669230527381!2d115.95145400000001!3d-31.996981000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bea199b0e2bd%3A0x43eae4933bb29b93!2sMinearc+Systems+PTY+Ltd.!5e0!3m2!1sen!2sau!4v1442193159083')
            p
              | MineARC System Intellgence
              br
              a(href='mailto:systemintelligence@minearc.com') systemintelligence@minearc.com

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]

block append styles

block append scripts
