extends layout

block append content
  div(class='jumbotron')
    div
      label(for='username') Username
      input(type='text' id='username')
    div
      label(for='password') Password
      input(type='password' id='password')
    div
      label(for='email') Email
      input(type='text' id='email')
    div
      label(for='settings') Settings
      input(type='text' id='settings')
    div
      label(for='alerts') Alerts
      input(type='text' id='alerts')
    div
      button(type='button' class='btn btn-primary' id='getUsers') getUsers
      button(type='button' class='btn btn-primary' id='addUser') addUser
      button(type='button' class='btn btn-primary' id='removeUser') removeUser
      button(type='button' class='btn btn-primary' id='getUsersEmail') getUsersEmail
      button(type='button' class='btn btn-primary' id='updateUsersEmail') updateUsersEmail
      button(type='button' class='btn btn-primary' id='getUsersSettings') getUsersSettings
      button(type='button' class='btn btn-primary' id='updateUsersSettings') updateUsersSettings
      button(type='button' class='btn btn-primary' id='getUsersAlerts') getUsersAlerts
      button(type='button' class='btn btn-primary' id='updateUsersAlerts') updateUsersAlerts
      button(type='button' class='btn btn-primary' id='compareUsersPassword') compareUsersPassword
      button(type='button' class='btn btn-primary' id='updateUsersPassword') updateUsersPassword
    div
      span(id='result')
  
block append scripts
  script(src='/javascripts/dbtest.js')