extends layout

block append content
  div(class='jumbotron')
    table(id='email_table' class='table')
      tr
        th.col-xs-4 Email
        th.col-xs-7
        th.col-xs-1
      each email in emails
        tr
          td= email.email
          td
            div.dropdown
              button.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown')
                span.num_subs= email.subscription.length
                |  Subscriptions
                span.caret
              ul.col-xs-12.dropdown-menu
                li
                  label
                    button.btn.check_all(type='button')
                      | Check all
                  label
                    button.btn.uncheck_all(type='button')
                      | Uncheck all
                each val, index in alarms
                  li
                    .checkbox
                      label
                        - var checked = email.subscription.indexOf(val.alarm_name) > -1
                        input(type='checkbox' checked=(checked) data-index=(index))
                        = val.alarm_name
          td
            .input-group
              span
                button.btn.btn-danger.btn-delete(role='button' data-email=(email.email))
                  | Delete
              span.input-group-btn
                button.btn.btn-info.btn-save(role='button' data-email=(email.email) style='display:none;')
                  | Save
    form.input-group#form-add
      input.form-control(type='text' placeholder='example@example.com')
      span.input-group-btn
        button.btn.btn-success#btn-add(type='button') Add
        
    div.alert.alert-danger#error-alert(style='display:none;')
      strong
        | Error
      |  unable to add email.
      
block append scripts
  script(src='/javascripts/emails.js')