extends layout

block vars
  = alias
           
block append content
  div(class='jumbotron')
    div#container(class='container-fluid')
      div.row
        div.col-xs-12#alarms
          each alarm, key in alarms
            if (alarm.state)
              p.alert.alert-danger= key

      div.row

        include home/camera_internal.pug
          
        if(extn)
          include home/camera_external.pug

        if(elv)
          include home/elv.pug

        if(elvp)
          include home/elvp.pug

        if(series3)
          include home/series3.pug

        if(series4)
          include home/series4.pug

      div.row

        if(elv)
          include home/elv_graphs.pug

        if(elvp)
          include home/elvp_graphs.pug

        if(series3)
          include home/series3_graphs.pug

        if(series4)
          include home/series4_graphs.pug

      div.row

        if(cams)
          include home/cams.pug
          
        if(aura)
          include home/aura.pug
                              
block prepend styles
  script(src='/javascripts/canvasjs.min.js')
            
block prepend scripts
  script(src='/javascripts/home.js')
  script(src='/javascripts/camera_internal.js')
  if(extn)
    script(src='/javascripts/camera_external.js')
  if(elv)
    script(src='/javascripts/elv.js')
  if(elvp)
    script(src='/javascripts/elvp.js')
  if(series3)
    script(src='/javascripts/series3.js')
  if(series4)
    script(src='/javascripts/series4.js')
  if(cams)
    script(src='/javascripts/cams.js')
  if(aura)
    script(src='/javascripts/aura.js')
