extends layout

block title
  span#alias= alias
           
block append content
  #aura_1_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-aura-1
  #aura_2_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-aura-2
  #aura_3_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-aura-3
  #aura_4_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-aura-4
  #temp_1_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-temp-1
  #temp_2_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-temp-2
  #temp_3_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-temp-3
  #current_1_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-current-1
  #voltage_1_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-voltage-1
  #voltage_2_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-voltage-2
  #voltage_3_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-voltage-3
  #voltage_4_modal.modal.no-fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          .graph#graph-voltage-4
  .wrapper-md
    .tab-container
      ul.nav.nav-tabs
        li.active
          a(href='#', data-toggle='tab', data-target='#tab_camera') CAMERA
        if(elv)
          li
            a(href='#', data-toggle='tab', data-target='#tab_elv') ELV
        if(elvp)
          li
            a(href='#', data-toggle='tab', data-target='#tab_elvp') ELVP
        if(series3)
          li
            a(href='#', data-toggle='tab', data-target='#tab_series3') SERIES III
        if(series4)
          li
            a(href='#', data-toggle='tab', data-target='#tab_series4') SERIES IV
          if(series4.fan_board_1)
            li
              a(href='#', data-toggle='tab', data-target='#tab_series4_fan_board_1') FAN BOARD
          if(series4.fan_board_2)
            li
              a(href='#', data-toggle='tab', data-target='#tab_series4_fan_board_2') FAN BOARD 2
          if(series4.current_loops)
            li
              a(href='#', data-toggle='tab', data-target='#tab_series4_current_loops') CURRENT LOOPS
        if(aura)
          li
            a(href='#', data-toggle='tab', data-target='#tab_aura') AURA
        if(cams)
          li
            a(href='#', data-toggle='tab', data-target='#tab_cams') CAMS

      .tab-content
        #tab_camera.tab-pane.active
          include home/camera.pug
        if(elv)
          #tab_elv.tab-pane
            include home/elv.pug
        if(elvp)
          #tab_elvp.tab-pane
            include home/elvp.pug
        if(series3)
          #tab_series3.tab-pane
            include home/series3.pug
        if(series4)
          include home/series4.pug
        if(aura)
          #tab_aura.tab-pane
            include home/aura.pug
        if(cams)
          #tab_cams.tab-pane
            include home/cams.pug
        if(battmon)
          #tab_battmon.tab-pane
            include home/battmon.pug

    if(aura)
      include home/aura_graphs.pug
    if(elv)
      include home/elv_graphs.pug
    if(elvp)
      include home/elvp_graphs.pug
    if(series3)
      include home/series3_graphs.pug
    if(series4)
      include home/series4_graphs.pug

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]

block prepend styles

block prepend scripts
  script(src='/js/canvasjs.min.js')
  script(src='/js/home.js')
  script(src='/js/camera_internal.js')
  if(extn)
    script(src='/js/camera_external.js')
  if(elv)
    script(src='/js/elv.js')
  if(elvp)
    script(src='/js/elvp.js')
  if(series3)
    script(src='/js/series3.js')
  if(series4)
    script(src='/js/series4.js')
  if(cams)
    script(src='/js/cams.js')
  if(aura)
    script(src='/js/aura.js')