extends layout

block title
  = alias
           
block append content
  .wrapper-md(ng-controller='FlotChartDemoCtrl')
    .tab-container
      ul.nav.nav-tabs
        li.active
          a(href='#', data-toggle='tab', data-target='#tab_camera') CAMERA
        if(elv)
          li
            a(href='#', data-toggle='tab', data-target='#tab_elv') ELV
        if(elvp)
          li
            a(href='#', data-toggle='tab', data-target='#tab_elvp') ELVP
        if(series3)
          li
            a(href='#', data-toggle='tab', data-target='#tab_series3') SERIES3
        if(series4)
          li
            a(href='#', data-toggle='tab', data-target='#tab_series4') SERIES4
        if(aura)
          li
            a(href='#', data-toggle='tab', data-target='#tab_aura') AURA
        if(cams)
          li
            a(href='#', data-toggle='tab', data-target='#tab_cams') CAMS

      .tab-content
        #tab_camera.tab-pane.active
          include home/camera.pug
        if(elv)
          #tab_elv.tab-pane
            include home/elv.pug
        if(elvp)
          #tab_elvp.tab-pane
            include home/elvp.pug
        if(series3)
          #tab_series3.tab-pane
            include home/series3.pug
        if(series4)
          #tab_series4.tab-pane
            include home/series4.pug
        if(aura)
          #tab_aura.tab-pane
            include home/aura.pug
        if(cams)
          #tab_cams.tab-pane
            include home/cams.pug

    if(aura)
      include home/aura_graphs.pug
    if(elv)
      include home/elv_graphs.pug
    if(elvp)
      include home/elvp_graphs.pug
    if(series3)
      include home/series3_graphs.pug
    if(series4)
      include home/series4_graphs.pug

block prepend styles
  script(src='/javascripts/canvasjs.min.js')

block prepend scripts
  script(src='/javascripts/home.js')
  script(src='/javascripts/camera_internal.js')
  if(extn)
    script(src='/javascripts/camera_external.js')
  if(elv)
    script(src='/javascripts/elv.js')
  if(elvp)
    script(src='/javascripts/elvp.js')
  if(series3)
    script(src='/javascripts/series3.js')
  if(series4)
    script(src='/javascripts/series4.js')
  if(cams)
    script(src='/javascripts/cams.js')
  if(aura)
    script(src='/javascripts/aura.js')