doctype html
html
  head
    title Guardian
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block styles
    
  body
    img.img-responsive(src='/images/minearc.png')
    nav.navbar.navbar-default#navbar
      div.container-fluid
        ul.nav.navbar-nav
          li
            a#home-link(href='/home') Home
          li
            a#dashboard-link(href='/') Dashboard
          li
            a#monitor-link(href='#') Monitor
            script.
              document.getElementById('monitor-link').href='//'+window.location.hostname+':8000/';
          li
            a#camera-internal-link(href='#') Internal Camera
            script.
              document.getElementById('camera-internal-link').href='//'+window.location.hostname+':8001/';
          li
            a#camera-external-link(href='#') External Camera
            script.
              document.getElementById('camera-external-link').href='//'+window.location.hostname+':8002/';
          li
            a#alarms-link(href='/notifications') Notifications
    div(class='container')
      block content
      
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootbox.min.js')
    script(src='/javascripts/main.js')
    block scripts
  