doctype html
html
  head
    title Guardian
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
    block styles
    
  body
    div.container-fluid
      .row
        span
          img(src='/images/minearc.png')
          span.right
            span#name
              p.inline Name: 
                b#alias.r-green
                  block vars
        nav.navbar.navbar-default#navbar
          div.container-fluid
            ul.nav.navbar-nav
              li
                a#dashboard-link(href='/') Dashboard
              li
                a#home-link(href='/chamber') Chamber
              li
                a#camera-internal-link(href='/camera_internal') Internal Camera
              if(extn)
                li
                  a#camera-external-link(href='/camera_external') External Camera
              if(aura)
                li
                  a#aura-link(href='/aura') Aura-FX
              if(elv)
                li
                  a#monitor-link(href='/monitor') ELV
              if(elvp)
                li
                  a#monitor-link(href='/monitor') ELVP
              if(series3)
                li
                  a#monitor-link(href='/monitor') Series 3
              if(series4)
                li
                  a#monitor-link(href='/monitor') Series 4
              li
                a#alarms-link(href='/notifications') Notifications
      block content
      
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootbox.min.js')
    script(src='/javascripts/bootstrap-editable.min.js')
    script(src='/javascripts/main.js')
    block scripts
  