doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Guardian
    meta(name='description', content='app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, ui route, charts, widgets, components')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/animate.css', type='text/css')
    link(rel='stylesheet', href='/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/css/simple-line-icons.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/css/font.css', type='text/css')
    link(rel='stylesheet', href='/css/app.css', type='text/css')
    link(rel='stylesheet', href='/css/footable.bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/css/bootstrap-editable.css', type='text/css')
    block styles
    
  body
    .app.app-header-fixed.app-aside-fixed
      header#header.app-header.navbar(role='menu')
        .navbar-header.bg-dark
          button.pull-right.visible-xs(ui-toggle-class='off-screen', target='.app-aside', ui-scroll='app')
            i.glyphicon.glyphicon-align-justify
          a.text-lt(href='#', style='padding-left:20px;')
            span.hidden-folded.m-l-xs
              img(src='img/logo.png')
        .collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only
          .nav.navbar-nav.hidden-xs
            a.btn.no-shadow.navbar-btn(href='#', ui-toggle-class='app-aside-folded', target='.app')
              i.fa.fa-dedent.fa-fw.text
              i.fa.fa-indent.fa-fw.text-active
            span.m-n.font-thin.h3
              img.m-r.xs(src='img/logo_g.png')
              block title
      aside#aside.app-aside.hidden-xs.bg-dark
        .aside-wrap
          .navi-wrap
            nav.navi.clearfix(ui-nav='')
              ul.nav
                li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
                  span NAVIGATION
                li
                  a.auto(href='/')
                    i.icon-home
                    span.font-bold HOME
                li
                  a(href='notifications')
                    i.icon-settings
                    span.font-bold SETTINGS
                li
                  a(href='contact')
                    i.icon-info
                    span.font-bold HELP
                li.line.dk
                li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
                  span FLEET
                #fleet
                  block fleet
      #content.app-content(role='main')
        .app-content-body
          .hbox.hbox-auto-xs.hbox-auto-sm(ng-init='app.settings.asideFolded = false; app.settings.asideDock = false;')
            .col
              block content
            .col.w-md.bg-white-only.b-l.bg-auto.no-border-xs
              .nav-tabs-alt
              .tab-content
                #tab-1.tab-pane.active(role='tabpanel')
                  .wrapper-md
                    .m-b-sm.text-md ALERT FEED
                    ul#alerts.list-group.no-bg.no-borders.pull-in
                      block alerts
      footer#footer.app-footer(role='footer')
        .wrapper.b-t.bg-light
          span.pull-right
            | 1.27.0 
            a.m-l-sm.text-muted(href='#', ui-scroll='app')
              em.fa.fa-long-arrow-up
          |         © MineARC Systems Copyright.
    script
      | var localize = '
      =localize
      |'
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/js/ui-load.js')
    script(src='/js/ui-jp.config.js')
    script(src='/js/ui-jp.js')
    script(src='/js/ui-nav.js')
    script(src='/js/ui-toggle.js')
    script(src='/js/ui-client.js')
    script(src='/js/footable.min.js')
    script(src='/js/bootbox.min.js')
    script(src='/js/bootstrap-editable.min.js')
    script(src='/js/main.js')
    block scripts
  