doctype html
html
  head
    title Guardian
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block styles
    
  body
    div.container-fluid
      .row
        span
          img(src='/images/minearc.png')
          block vars
          //- div.col-xs-12#name
          //-   h2 Name: 
          //-     b #{name}
          //- div.col-xs-8#mode
          //-   h2 Mode: 
          //-     b #{mode}
        nav.navbar.navbar-default#navbar
          div.container-fluid
            ul.nav.navbar-nav
              li
                a#dashboard-link(href='/') Overview
              li
                a#home-link(href='/dashboard') Dashboard
              li
                a#camera-internal-link(href='/camera_internal') Internal Camera
              li
                a#monitor-link(href='/monitor') Series 4
              //- li
              //-   a#camera-external-link(href='/camera_external') External Camera
              li
                a#alarms-link(href='/notifications') Notifications
      block content
      
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootbox.min.js')
    script(src='/javascripts/main.js')
    block scripts
  