extends layout

block append content
  div(class='jumbotron')
    .row
      .col-xs-12
        iframe.col-xs-12#monitor-iframe(src='' frameborder="0")
        script.
          document.getElementById('monitor-iframe').src='//'+window.location.hostname+':8000/';
block append styles
      
block append scripts