extends layout

block title
  | SETTINGS

block append content
  .wrapper-md
    ul#notification-list.list-group.gutter.list-group-lg.list-group-sp(ui-jq='sortable')&attributes(ips)
      each email in emails
        li.list-group-item(draggable='true', style='display: block;')
          span.pull-right
            .btn-group.dropdown
              button.btn.btn-default2.btn-xs(data-toggle='dropdown')
                i.fa.fa-fw.m-r-xs.fa-plus
              ul.alert.alert-default.dropdown-menu.dropdown-menu-right
                li
                  .checkbox
                    label
                      input.check-all(type='checkbox')
                      | All
                  //- label
                  //-   button.btn.check_all(type='button') Check all
                  //- label
                  //-   button.btn.uncheck_all(type='button') Uncheck all
                each host in hosts
                  li
                    .checkbox
                      label
                        input(type='checkbox', data-type=host.ip, checked=((host.emails||[]).indexOf(email) != -1))
                        =host.alias ? host.alias : host.hostname.split('-')[1]
          span.pull-left
            i.fa.fa-sort.text-muted.fa.m-r-sm
          .clear
            =email

block append fleet
  if(hosts)
    each host in hosts
      li
        a(href='//' + host.ip + '/chamber')
          i.icon-tag
          span= host.alias ? host.alias : host.hostname.split('-')[1]

block append alerts
  if(hosts)
    each host in hosts
      each alerts, types in host.alarms_active
        each alert in alerts
          li.list-group-item
            .clear
              i.fa.fa-exclamation-circle.m-r-xs
              span.alef= alert
            small.text-muted= host.alias ? host.alias : host.hostname.split('-')[1]
      
block append styles
      
block append scripts
  script(src='/js/notifications.js')