extends layout

block vars
  span.right
    span#name
      p.inline Name: 
        b.r-green #{name}
    span#mode
      p.inline  Mode: 
        b.r-green #{mode}

block append content
  div(class='jumbotron')
    h3 Email
    div.spacer
    form.input-group#form-add
      input.form-control(type='text' placeholder='example@example.com')
      span.input-group-btn
        button.btn.btn-success#btn-add(type='button') Add
    table(id='email_table' class='table')
      if(emails)
        each email in emails
          tr
            td.col-xs-4= email.email
            td.col-xs-7
              div.dropdown
                button.btn.btn-info.dropdown-toggle(type='button' data-toggle='dropdown')
                  span.num_subs= email.subscription.length
                  |  Subscriptions
                  span.caret
                ul.alert.alert-default.dropdown-menu
                  li
                    label
                      button.btn.check_all(type='button')
                        | Check all
                    label
                      button.btn.uncheck_all(type='button')
                        | Uncheck all
                  each val, index in static_alarms
                    li
                      .checkbox
                        label
                          - var checked = email.subscription.indexOf(val) > -1
                          input(type='checkbox' checked=(checked) data-index=(index))
                          = val
            td.col-xs-1
              .input-group
                span
                  button.btn.btn-danger.btn-delete(role='button' data-email=(email.email))
                    | Delete
                span.input-group-btn
                  button.btn.btn-info.btn-save(role='button' data-email=(email.email) style='display:none;')
                    | Save
        
    div.alert.alert-danger#error-alert(style='display:none;')
      strong
        | Error
      |  unable to add email.
      
block append styles
      
block append scripts
  script(src='/javascripts/notifications.js')