extends layout

block vars
  = alias

block append content
  div(class='jumbotron')
    div#table-overview
      h3 Information
      div.spacer
      table(id='overview_table' class='table')
        tr
          th.col-xs-2 Chamber
          th.col-xs-2 MA Number
          th.col-xs-2 Type
          th.col-xs-2 Alarms
          th.col-xs-2 Status
        if(hosts)
          each host in hosts
            tr.overview-row
              td
                a(href='//' + host.ip + '/chamber')= host.alias ? host.alias : 'blank'
              td
                = host.hostname.split('-')[1]
              td
                 case host.type
                  when 0 
                    | ELV
                  when 1 
                    | ELVP
                  when 2 
                    | Series 3
                  when 3 
                    | Series 4
                  default
                    | Unknown
              td
                div.dropdown
                  button.btn.btn-info.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                    span.num_subs= host.alarms_total
                  if(host.alarms_total > 0)
                    ul.alert.alert-danger.col-xs-12.dropdown-menu
                      each t in host.alarms_active
                        each val in t
                          li= val
                  else
                    ul.alert.alert-info.col-xs-12.dropdown-menu
                      | Everything is fine
              if(host.alarms_total > 0)
                td
                  img(src='/images/Error.png')
              else
                td
                  img(src='/images/Good.png')
            
block append styles

block append scripts
  script(src='/javascripts/overview.js')