body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.graph {
  height: 240px;
}

.table-right {
  text-align:right;
}

.inline {
  display: inline;
  font-size:16px;
  font-weight:bold;
  padding:60px 0 0 0;
}

#table-overview img {
  max-height: 30px;
}

#image-logo img {
  max-height: 60px;
}

#camera-internal-iframe, #camera-internal-iframe, #monitor-iframe {
  max-width: 100%;
  height: 600px;
}

.right {
  float: right;
}

.r-green {
	color:#05763d;
}

.alert-danger {
  text-align: center;
}

/*.items {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 
}*/