.row
  div.col-xs-12#aura.items
    table.table
      each gas, key in aura
        if(gas.isRecent)
          tr
            td.row-name= key
            td.table-right.row-info #{gas.value} #{gas.unit}