div.col-xs-12.col-md-6#aura
  h3 Aura-FX
  table.table
    tr
      th Name
      th.table-right Value
    each gas, key in aura
      if(gas.isRecent)
        tr
          td= key
          td.table-right #{gas.value} #{gas.unit}