div.col-xs-12.col-md-6#aura
  h3 Aura-FX
  table.table
    tr
      th Name
      th.table-right Value
    each row in aura
      tr
        td= row.gas_name
        td.table-right #{row.gas_vaule} #{row.gas_unit}

block append styles
            
block append scripts