.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        | Battery Bank 1
      .panel-body
        .row.text-center
          .col-sm-4
            .item
              .pos-rlt
                .inline#readout-voltage-mains
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
          .col-sm-4
            .item
              .pos-rlt
                .inline#readout-voltage-inverter
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
          .col-sm-4
            .item
              .pos-rlt
                .inline#readout-voltage-battery
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
          .col-sm-4
            .item
              .pos-rlt
                .inline#readout-voltage-battery
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading BATTERIES
      .panel-body
        .row.text-center
          .col-sm-3
            div(style='padding-top: 10px;')
              .batt
                span.h2.batt2 11.1
                .text.text-sm V
                span.h2.batt2 22.2
                .text.text-sm ℃
          .col-sm-3
            div(style='padding-top: 10px;')
              .batt
                span.h2.batt2 11.1
                .text.text-sm V
                span.h2.batt2 22.2
                .text.text-sm ℃
          .col-sm-3
            div(style='padding-top: 10px;')
              .batt
                span.h2.batt2 11.1
                .text.text-sm V
                span.h2.batt2 22.2
                .text.text-sm ℃
          .col-sm-3
            div(style='padding-top: 10px;')
              .batt
                span.h2.batt2 11.1
                .text.text-sm V
                span.h2.batt2 22.2
                .text.text-sm ℃
