div.col-xs-12.col-md-6#camera-external
  h3 External Camera
  div.spacer
    div
      a(href='/camera_external')
        img.img-responsive#external

block append styles
            
block append scripts
  script(src='/javascripts/camera_external.js')