div.col-xs-12.col-md-6#camera-internal
  h3 Internal Camera
  div.spacer
    div
      a(href='/camera_internal')
        img.img-responsive#internal

block append styles
            
block append scripts
  script(src='/javascripts/camera_internal.js')