.row
  div.col-xs-12.items
    table.table#table-cams
      tr
        td.row-name Occupied
        td.table-right.row-info= cams.occupied ? 'Yes' : 'No'
      tr
        td.row-name Airflow
        td.table-right.row-info= cams.solenoid ? 'No' : 'Yes'
      tr
        td.row-name Airflow Uptime
        td.table-right.row-info= (cams.rate * 100).toFixed(2) + ' %'