if(aura)
  .row
    .col-sm-12
      .panel.panel-default
        .panel-heading
          | TEMPERATURE
        .panel-body
          .row.text-center
            .col-sm-12
              .inline#readout-temp-aura(data-toggle="modal" data-target="#aura_1_modal")
                div Internal Apparent
                .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                animate: 1000,\
                percent: 0,\
                lineWidth: 5,\
                trackColor: '#b7b7b7',\
                barColor: '#1b82ce',\
                scaleColor: '#ffffff',\
                size: 115,\
                lineCap: 'butt'\
                }", style='width: 115px; height: 115px; line-height: 115px;')
                  div
                    span.h2.value
                      | 0.0
                      span(style='font-size: 0.5em') ℃
                    .text.text-sm.delta
                      i.fa.fa-fw.fa-circle.text-muted.text-sm
                        | 0.0
.row
  .col-sm-9
    .panel.panel-default
      .panel-heading
        | VOLTAGE
      .panel-body
        .row.text-center
          .col-sm-3
            .inline#readout-voltage-mains(data-toggle="modal" data-target="#voltage_1_modal")
              div Mains
              span.h2.value
                | 0
                span(style='font-size: 0.5em') V
              .text-sm.delta
                i.fa.fa-fw.fa-circle.text-muted.text-sm
                | 0
          .col-sm-3
            .inlinee#readout-voltage-inverter(data-toggle="modal" data-target="#voltage_2_modal")
              div Inverter
              span.h2.value
                | 0
                span(style='font-size: 0.5em') V
              .text-sm.delta
                i.fa.fa-fw.fa-circle.text-muted.text-sm
                | 0
          .col-sm-3
            .inlinee#readout-voltage-standby(data-toggle="modal" data-target="#voltage_3_modal")
              div Standby Battery
              span.h2.value
                | 0
                span(style='font-size: 0.5em') V
              .text-sm.delta
                i.fa.fa-fw.fa-circle.text-muted.text-sm
                | 0
          .col-sm-3
            .inlinee#readout-voltage-emergency(data-toggle="modal" data-target="#voltage_4_modal")
              div Emergency Battery
              span.h2.value
                | 0
                span(style='font-size: 0.5em') V
              .text-sm.delta
                i.fa.fa-fw.fa-circle.text-muted.text-sm
                | 0
  .col-sm-3
    .panel.panel-default
      .panel-heading
        | CURRENT
      .panel-body
        .row.text-center
          .col-sm-12
            .inlinee#readout-current-battery(data-toggle="modal" data-target="#current_1_modal")
              div Battery
              span.h2.value
                | 0
                span(style='font-size: 0.5em') A
              .text-sm.delta
                i.fa.fa-fw.fa-circle.text-muted.text-sm
                | 0