.row
  div.col-xs-12.items
    table.table#table-series3
      tr
        td.row-name Mode
        td.table-right.row-mode= series3.mode
      each row in series3.raw
        tr
          td.row-name= row.row_name
          td.table-right.row-info #{row.row_info} #{row.row_unit}