.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        | TEMPERATURE
      .panel-body
        .row.text-center
          if(aura)
            .col-sm-3
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#aura_1_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-aura
                    div Internal Apparent
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#1b82ce',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
            .col-sm-3
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_1_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-internal
                    div Internal Actual
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#e79c1f',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
            .col-sm-3
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_2_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-external
                    div External
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#2eb79d',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
            .col-sm-3
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_3_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-battery
                    div Battery
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#ec1b3a',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0
          else
            .col-sm-4
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_1_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-internal
                    div Internal
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#e79c1f',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0
            .col-sm-4
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_2_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-external
                    div External
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#2eb79d',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0
            .col-sm-4
              .item
                .pos-rlt
                  .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                    .center.text-center.m-t-n.w-full
                      a(data-toggle="modal" data-target="#temp_3_modal")
                        i.fa.fa-3x.fa-line-chart.text-white
                  .inline#readout-temp-battery
                    div Battery
                    .easyPieChart(ui-jq='easyPieChart', ui-options="{\
                    animate: 1000,\
                    percent: 0,\
                    lineWidth: 5,\
                    trackColor: '#b7b7b7',\
                    barColor: '#ec1b3a',\
                    scaleColor: '#ffffff',\
                    size: 115,\
                    lineCap: 'butt'\
                    }", style='width: 115px; height: 115px; line-height: 115px;')
                      case localize
                        when 'us'
                          div
                            span.h2.value
                              | 0.0
                              span(style='font-size: 0.5em') °F
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0.0
                        default
                          div
                            span.h2.value
                              | 0
                              span(style='font-size: 0.5em') °C
                            .text.text-sm.delta
                              i.fa.fa-fw.fa-circle.text-muted.text-sm
                              | 0
.row
  .col-sm-9
    .panel.panel-default
      .panel-heading
        | VOLTAGE
      .panel-body
        .row.text-center
          .col-sm-4
            .item
              .pos-rlt
                .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                  .center.text-center.m-t-n.w-full
                    a(data-toggle="modal" data-target="#voltage_1_modal")
                      i.fa.fa-3x.fa-line-chart.text-white
                .inline#readout-voltage-inverter
                  div Inverter
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
          .col-sm-4
            .item
              .pos-rlt
                .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                  .center.text-center.m-t-n.w-full
                    a(data-toggle="modal" data-target="#voltage_2_modal")
                      i.fa.fa-3x.fa-line-chart.text-white
                .inline#readout-voltage-bridge
                  div Bridge
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
          .col-sm-4
            .item
              .pos-rlt
                .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                  .center.text-center.m-t-n.w-full
                    a(data-toggle="modal" data-target="#voltage_3_modal")
                      i.fa.fa-3x.fa-line-chart.text-white
                .inline#readout-voltage-battery
                  div Battery
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') V
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0
  .col-sm-3
    .panel.panel-default
      .panel-heading
        | CURRENT
      .panel-body
        .row.text-center
          .col-sm-12
            .item
              .pos-rlt
                .item-overlay.bg-black-opacity.r.r-2x.r.r-2x(style='z-index: 10;')
                  .center.text-center.m-t-n.w-full
                    a(data-toggle="modal" data-target="#current_1_modal")
                      i.fa.fa-3x.fa-line-chart.text-white
                .inline#readout-current-battery
                  div Battery
                  span.h2.value
                    | 0
                    span(style='font-size: 0.5em') A
                  .text-sm.delta
                    i.fa.fa-fw.fa-circle.text-muted.text-sm
                    | 0