if(series3.system_information)
  div.col-xs-12.col-md-6
    .graph#graph-mains
  div.col-xs-12.col-md-6
    .graph#graph-battery
  div.col-xs-12.col-md-6
    .graph#graph-inverter
  div.col-xs-12.col-md-6
    .graph#graph-temp